/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

section {
  margin: 50px 0;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

nav a {
  text-decoration: none;
  color: black;
}
nav a:visited {
  color: black;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}

.gallery img {
  width: 100%;
  height: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.all-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 55px;
}

.btn_projects {
  margin-left: 10px;
  border: 1px solid #004600;
  color: #1d6154;
  font-family: "Work Sans";
  font-size: 17px;
  border-radius: 15px;
  background-color: rgb(255, 251, 246);
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

button:focus {
  background-color: #1d6154;
  color: #fefefe;
}

/* STYLE CONNECTE */
.banner {
  position: absolute;
  top: 0;
  text-align: center;
  background: black;
  width: 100%;
  color: white;
  left: 0;
  padding: 10px 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}

.modal {
  width: 50%;
  height: 70%;
  background: white;
  border-radius: 30px;
}
.galleryModal {
  width: 80%;
  display: grid;
  grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
  grid-column-gap: 1%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20%;
  gap: 10px;
}

.galleryModal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galleryModal figure {
  height: 100px;
  position: relative;
}

.fa-trash {
  color: white;
  border: solid black 1px;
  background-color: black;
  padding: 1px;
  font-size: 13px;
  position: absolute;
  top: 0;
  right: 0;
}

.galleryModal figcaption {
  display: none;
}

.close_modal .fa-xmark {
  font-size: 20px;
  color: black;
  position: absolute;
  top: 17%;
  right: 30%;
}

.editBtn {
  background-color: white;
  border: none;
  font-size: 18px;
  margin-inline-start: 20px;
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.modalTitle {
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -1100%);
  font-size: 26px;
}

.btnConnexion {
  cursor: pointer;
  font-family: "Syne";
  margin: auto;
  width: 179px;
  background: #1d6154;
  color: white;
  border-radius: 60px;
  padding: 0.5rem 1rem;
  border: none;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.add_project {
  cursor: pointer;
  font-family: "Syne";
  margin: auto;
  width: 237px;
  height: 36px;
  background: #1d6154;
  color: white;
  border-radius: 60px;
  padding: 0.5rem 1rem;
  margin-top: -8.5rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 400%);
  border-top: 1px;
}

.bordure {
  width: 70%;
  margin-top: 10%;
}
.bordure2 {
  width: 40%;
  margin-top: 10%;
  position: absolute;
  bottom: 24%;
  margin-left: 5%;
}

#createProject {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.h3 {
  font-weight: bold;
  font-size: 14px;
  margin-left: 10%;
  margin-bottom: 3%;
  margin-top: 3%;
}

.fa-arrow-left {
  font-size: 25px;
  position: absolute;
  left: 27%;
  top: 17%;
}

#title {
  border: none;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  width: 80%;
  height: 3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin: auto;
}

#category {
  border: none;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  width: 80%;
  height: 3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin: auto;
}

.valider {
  cursor: pointer;
  font-family: "Syne";
  width: 179px;
  background: #1d6154;
  color: white;
  border-radius: 60px;
  padding: 0.5rem 1rem;
  border: none;
  position: absolute;
  bottom: 18%;
  left: 50%;
  transform: translate(-50%);
}

.validerDisplay {
  font-family: "Syne";
  width: 179px;
  background: #a7a7a7;
  color: white;
  border-radius: 60px;
  padding: 0.5rem 1rem;
  border: none;
  position: absolute;
  bottom: 18%;
  left: 50%;
  transform: translate(-50%);
}

.previewPhoto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  background-color: #e8f1f7;
  margin-top: 7rem;
  margin-bottom: 2rem;
  border-radius: 3px;
  width: 70%;
  margin-left: 15%;
  position: relative;
}

.preview {
  width: 100%;
  height: 250px;
  object-fit: contain;
  position: absolute;
  display: none;
}

.photo_i {
  font-size: 4rem;
  color: #b9c5cc;
}

.btnAjoutPhotoDiv {
  display: inline-block;
  position: relative;
}

.btnAjout {
  background: #cbd6dc;
  border-radius: 50px;
  border: none;
  padding: 1rem;
  color: #306685;
  font-weight: 500;
  cursor: pointer;
}

.inputPhoto {
  display: none;
}
